body{
    background-color: antiquewhite;
}

img{
    height:405px;
    border:1px solid black;
}

p{
   font-size:30px;
   font-weight:bolder;
   border:1px solid black;
   border-radius:2px;
   width:300px;
   background-color: rgb(206, 176, 176);
   text-align:center;
   text-shadow:1px 1px 3px black;
}

li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}