body{

    background-color: rgb(243, 226, 205);
}
h1{
    padding: -20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow:1px 2px 5px black;
    background-color: rgb(206, 176, 176);
    width:400px;
    text-align: center;
    border:1px solid black;
   border-radius:2px;
}
img{
    width:400px;
    height:auto;
}

li{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}